node_modules

dist

npm-debug.log*
dump.rdb

client/coral-framework/graphql/introspection.json
docs/source/_data/introspection.json

.env
*.cfg

.idea/
*.swp
*.DS_STORE
.prettierrc.json
.vscode

coverage/
test/e2e/reports/
test/e2e/bslocal.log
test/e2e/selenium-debug.log
browserstack.err

**/node_modules/*
yarn-error.log
